#app{
    border: 1px solid #000;
    padding: 20px;
}

#app input {
    width: 100%;
    margin-bottom: 10px;
}

#app .goals {
    list-style: none;
    border: 1px solid red;
    text-align: center;
    font-weight: 700;
}

#app .goals li{
    padding: 5px;
    display: flex;
    justify-content: space-around   ;
}

#app .goals li p {
    margin: 0
}


