<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <section id="monster" class="box">
            <h2>Monster Health</h2>
            <div class="healthbar">
              <div class="healthbar__value" :style="monsterBarStyles"></div>
            </div>
          </section>

          <section id="player" class="box">
            <h2>Your Health </h2>
            <div class="healthbar">
              <div class="healthbar__value" :style="playerBarStyles"></div>
            </div>
          </section>

          <section v-if="winner">
            <div class="box">
              <h2>Game Over!</h2>
              <h3 v-if="winner === 'player'">You win!</h3>
              <h3 v-else-if="winner === 'monster'">Monster Win!</h3>
              <h3 v-else>It's a Draw!</h3>
              <button @click="resetData">Restart</button>
            </div>
          </section>

          <section id="controls" v-else>
            <button @click="playerAttack">ATTACK</button>
            <button @click="speciaAttack" :disabled="attackButtonToggler">SPECIAL ATTACK</button>
            <button @click="healPlayer">HEAL</button>
            <button @click="surrender">SURRENDER</button>
            </template>
          </section>
        </div>

        <div class="col-12 col-md-6">
          <section id="log" class="box">
            <h2>Battle Log</h2>
            <ul>
              <li v-for="(log, index) in logMessages" :key="index">
                <!-- <p v-if="log.actionType === 'attack'" 
                  :class="{'log--player': log.actionBy === 'Player', 'log--monster': log.actionBy === 'Monster'}"
                  >{{log.actionBy}} attack with {{log.value}} damage</p>
                  
                <p v-else-if="log.actionType === 'specialAttack'"
                   class='log--player'>{{log.actionBy}} hit with Special Attack and take {{log.value}} damage</p>

                <p v-else  class='log--player'> Player heal himself with {{log.value}} heal</p>
               -->
                <span
                  :class="{'log--player': log.actionBy === 'Player', 'log--monster': log.actionBy === 'Monster'}">
                  {{log.actionBy}}
                </span>

                <span v-if="log.actionType === 'attack'"> 
                  attack with
                  <span
                    :class="{'log--player': log.actionBy === 'Player', 'log--monster': log.actionBy === 'Monster'}">
                    {{log.value}} damage.
                  </span>
                </span>

                <span v-else-if="log.actionType === 'specialAttack'"
                      :class="{'log--player': log.actionBy === 'Player', 'log--monster': log.actionBy === 'Monster'}">
                  hit with Special Attack by {{log.value}} damage</span>

                <span v-else> 
                  heal with 
                  <span class="log--heal">
                  {{log.value}} heal.
                  </span>
                </span>

              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</body>

</html>